<script src="{{site.cdn-url}}/gitbook/gitbook.js"></script>
<script src="{{site.cdn-url}}/gitbook/theme.js"></script>

<script src="{{site.cdn-url}}/gitbook/gitbook-plugin-fontsettings/fontsettings.js"></script>
<script src="{{site.cdn-url}}/gitbook/gitbook-plugin-sharing/buttons.js"></script>

{% if page.tipue_search_active or layout.tipue_search_active -%}
<script src="{{site.cdn-url}}/assets/tipuesearch/tipuesearch_content.js"></script>
<script src="{{site.cdn-url}}/assets/tipuesearch/tipuesearch_set.js"></script>
<script src="{{site.cdn-url}}/assets/tipuesearch/tipuesearch.min.js"></script>
{% endif -%}