<script src="{{site.cdn-url}}/gitbook/gitbook.js"></script>
<script src="{{site.cdn-url}}/gitbook/theme.1.0.2.js"></script>

<script src="{{site.cdn-url}}/gitbook/gitbook-plugin-fontsettings/fontsettings.js"></script>
<script src="{{site.cdn-url}}/gitbook/gitbook-plugin-sharing/buttons.js"></script>

<script src="{{site.baseurl}}/assets/tipuesearch/tipuesearch_content.js"></script>
<script src="{{site.cdn-url}}/assets/tipuesearch/tipuesearch_set.js"></script>
<script src="{{site.cdn-url}}/assets/tipuesearch/tipuesearch.min.js"></script>
<script src="{{site.cdn-url}}/gitbook/gitbook-plugin-expandable-chapters/expandable-chapters.js"></script>
