{% assign posts = site.chapters | where_exp: "it", "it.pk == include.key" | sort: "order" %}

{% if include.category %}
{% assign posts = posts | where_exp: "it", "it.category == include.category" %}
{% endif %}

{% for post in posts%}

    {% assign cls = "chapter" %}
    
    {% if page.url == post.url %}
        {% assign cls = cls | append: " active" %}
    {% endif %}

    {% assign children = [] %}
    {% if post.k %}
        {% assign children = site.chapters where_exp: "it", "it.pk == post.k and it.category == post.category" %}
    {% endif %}
    <li class="{{cls}}" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
        <a href="{{site.baseurl}}{{post.url}}" title="{{ post.title }}">
            {{ post.title | escape }}
        </a>
        {% if children != nil and children.size > 0 %}
        <ul class="articles">
            {% include toc-children.html key=post.k category=post.category %}
        </ul>
        {% endif%}
    </li>
{% endfor %}