{% assign posts = site.chapters | where_exp: "it", "it.pk == include.key" | sort: "order" %}

{% for post in posts%}

    {% assign cls = "chapter" %}
    
    {% if page.url == post.url %}
        {% assign cls = cls | append: " active" %}
    {% endif %}

    {% assign children = [] %}
    {% if post.k %}
        {% assign children = site.chapters | where_exp: "it", "it.pk == page.k" %}
    {% endif %}
    <li class="{{cls}}" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
        <a href="{{site.baseurl}}{{post.url}}" title="{{ post.title }}"
            {% if include.level > 0%}
            style="padding-left: {{ 10 | times: include.level}}%"
            {% endif %}
        >
            {{ post.title | escape }}
        </a>
    
        {% if children %}
        <ul class="articles">
            {% assign l = include.level | plus: 1 %}
            {% include toc-children.html level=l key=post.k %}
        </ul>
        {% endif%}
    </li>
{% endfor %}