{% assign posts = site.chapters | where_exp: "it", "it.pk == include.key" | sort: "order" %}
{% for post in posts%}
{% if page.url == post.url %}
<li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
    {% else %}
<li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
    {% endif %}
    <a href="{{site.baseurl}}{{post.url}}"
       title="{{ post.title }}"
       {% if include.level > 0 %}
       style="padding-left: {{include.level}}0%"
       {% endif %}
    >
        {{ post.title | escape }}
    </a>
</li>

{% if post.k %}
{% assign l = include.level | plus: 1 %}
{% include toc-children.html level=l key=post.k %}
{% endif %}

{% endfor%}