<!DOCTYPE HTML>
{% assign previous = nil %}
{% assign next = nil %}
{% if site.nav != nil and page.layout == 'post' %}
    {% assign sorted = site.chapters | sort: "order" %}
    {% assign size = sorted.size | minus: 1 %}
    
    {% for i in (0 .. size) %}
        {% if sorted[i].url == page.url %}
            {% if i > 0 %}
                {% assign pi = i | minus: 1 %}
                {% assign previous = sorted[pi] %}
            {% endif %}
        
            {% if i < size %}
                {% assign ni = i | plus: 1 %}
                {% assign next = sorted[ni] %}
            {% endif %}
                
            {% break%}
        {% endif %}
    {% endfor %}
{% endif%}
<html lang="en" >
    <head>
        {% include head.html %}
    </head>
    <body>
        <div class="book">
            {% include toc-date.html %}
            <div class="book-body">
                {% include body.html %}

                {% if previous %}
                <a href="{{site.baseurl}}{{previous.url}}"
                   title="{{previous.title}}"
                   class="navigation navigation-prev navigation-unique" aria-label="Previous page: {{previous.title}}">
                    <i class="fa fa-angle-left"></i>
                </a>
                {% endif %}

                {% if next %}
                <a href="{{site.baseurl}}{{next.url}}"
                   title="{{next.title}}"
                   class="navigation navigation-next" aria-label="Next page: {{next.title}}">
                    <i class="fa fa-angle-right"></i>
                </a>
                {% endif %}
            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({% include metadata.json.tpl %});
            });
            </script>
        </div>

        {% include footer.html %}

    </body>
</html>